<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
       p3 {
            font-size: 20px;
        } 
    </style>
<body>
     <h1><b>Final Test</b></h1>
    <p3>
    {{#navLink "/register"}}Register{{/navLink}}
    {{#navLink "/signin"}}Sign In{{/navLink}}
    </p3>
    <h1><b>Student Honour Pledge:</b></br></h1>
    <p1>I acknowledge Seneca College's academic Integrity policy.</br>
    On, my honer,I have neither given or received unauthorized aid on this test.</br></br>
    Name: <b>Hugh Kim</b></br>
    </br>Student Number: <b>141050211</b></br></br></p1>

</body>
</html>