<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><b>Register</b></h1>
    <form method="post" action="/register">
    <div class= "relative">
        <p class="Email">
                <label for="email">Email:</label>
                <input class="form-control" id="email" name="email" type="text"/>
        </p>
        <p class="password">
                <label for="password">Password:</label>
                <input class="form-control" id="password" name="password" type="text"/>
        </p>
        <input type="submit" class="btn btn-primary pull-right" value="Register"/>
        <input type="reset" class="btn btn-primary pull-right" value="Reset"/></br></br>
        <a href="/">Go Home</a>
        
    </div>
</form>
</body>
</html>